In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim

In [3]:
df=pd.read_excel('datafinal.xlsx',index_col=0)
df.head()

,type,latitude,longitude,locaLity score,age of property,power backup,lift,furninture status,carpet area,bathrooms,status of building,facing,location,price(L),rate persqft,area insqft,construction status,property type,Bhk
0,1 BHK Apartment,23.192745,77.471313,9.8,NaN,yes,yes,Furnished,NaN,1.0,New,East,Himayat Nagar,12.00,1846,650,Under Construction,Apartment,1
1,1 BHK Apartment,17.463173,78.286484,6.6,NaN,yes,yes,Unfurnished,NaN,2.0,New,NaN,Tellapur,28.99,2406,1205,Under Construction,Apartment,1
2,1 BHK Apartment,17.489849,78.293930,NaN,NaN,yes,yes,Unfurnished,NaN,2.0,New,NaN,BHEL,28.99,2406,1205,Under Construction,Apartment,1
3,1 BHK Apartment,17.536715,78.362610,NaN,9.0,yes,yes,Unfurnished,500.0,1.0,Resale,North,Whisper Valley,17.00,2881,590,Ready to move,Apartment,1
4,1 BHK Apartment,17.497248,78.503426,8.5,NaN,yes,yes,Unfurnished,NaN,2.0,New,NaN,Alwal,28.99,2406,1205,Under Construction,Apartment,1

In [4]:
df.shape

(16102, 19)

In [5]:
df.dtypes

type                    object
latitude               float64
longitude              float64
locaLity score         float64
age of property        float64
power backup            object
lift                    object
furninture status       object
carpet area            float64
bathrooms              float64
status of building      object
facing                  object
location                object
price(L)               float64
rate persqft             int64
area insqft              int64
construction status     object
property type           object
Bhk                      int64
dtype: object

In [21]:
df.isnull().sum()

type                       0
latitude                  50
longitude                 50
locaLity score          6374
age of property        15094
power backup               0
lift                       0
furninture status         49
carpet area             7410
bathrooms               2155
status of building        49
facing                  3383
location                   0
price(L)                   0
rate persqft               0
area insqft                0
construction status        0
property type              0
Bhk                        0
dtype: int64

In [22]:
df['latitude'].replace(np.NaN,0,inplace=True)
df['longitude'].replace(np.NaN,0,inplace=True)

In [24]:
lst=[]
b=df[df['latitude'] == 0.0].index
for i in b:
    a=df.loc[i,'location'] 
    lst.append(a)

In [25]:
x1=[]
b
c=0
for i in lst:    
    geolocator = Nominatim()
    Area =i
    City ="Hyderabad"
    try:
        loc = geolocator.geocode(Area+','+City)
        a1=loc.latitude,loc.longitude
        df.loc[b[c], 'latitude'] = a1[0]
        df.loc[b[c], 'longitude'] = a1[1]
        #l1.append(a1)
    except:
        x1.append(a)
    c+=1

In [30]:
df['latitude'].replace(0.0,np.NaN,inplace=True)
df['longitude'].replace(0.0,np.NaN,inplace=True)

In [31]:
df.isnull().sum()

type                       0
latitude                  11
longitude                 11
locaLity score          6374
age of property        15094
power backup               0
lift                       0
furninture status         49
carpet area             7410
bathrooms               2155
status of building        49
facing                  3383
location                   0
price(L)                   0
rate persqft               0
area insqft                0
construction status        0
property type              0
Bhk                        0
dtype: int64

In [32]:
round(100*(df.isnull().sum()/len(df.index)),2)

type                    0.00
latitude                0.07
longitude               0.07
locaLity score         39.59
age of property        93.74
power backup            0.00
lift                    0.00
furninture status       0.30
carpet area            46.02
bathrooms              13.38
status of building      0.30
facing                 21.01
location                0.00
price(L)                0.00
rate persqft            0.00
area insqft             0.00
construction status     0.00
property type           0.00
Bhk                     0.00
dtype: float64

In [33]:
df.drop(labels=['age of property','carpet area'],axis=1,inplace=True)

In [47]:
df.drop(labels=['facing'],axis=1,inplace=True)

In [50]:
df.drop(labels=['locaLity score'],axis=1,inplace=True)

In [51]:
df.head()

,type,latitude,longitude,power backup,lift,furninture status,bathrooms,status of building,location,price(L),rate persqft,area insqft,construction status,property type,Bhk
0,1 BHK Apartment,23.192745,77.471313,yes,yes,Furnished,1.0,New,Himayat Nagar,12.00,1846,650,Under Construction,Apartment,1
1,1 BHK Apartment,17.463173,78.286484,yes,yes,Unfurnished,2.0,New,Tellapur,28.99,2406,1205,Under Construction,Apartment,1
2,1 BHK Apartment,17.489849,78.293930,yes,yes,Unfurnished,2.0,New,BHEL,28.99,2406,1205,Under Construction,Apartment,1
3,1 BHK Apartment,17.536715,78.362610,yes,yes,Unfurnished,1.0,Resale,Whisper Valley,17.00,2881,590,Ready to move,Apartment,1
4,1 BHK Apartment,17.497248,78.503426,yes,yes,Unfurnished,2.0,New,Alwal,28.99,2406,1205,Under Construction,Apartment,1

In [52]:
round(100*(df.isnull().sum()/len(df.index)),2)

type                    0.00
latitude                0.07
longitude               0.07
power backup            0.00
lift                    0.00
furninture status       0.30
bathrooms              13.38
status of building      0.30
location                0.00
price(L)                0.00
rate persqft            0.00
area insqft             0.00
construction status     0.00
property type           0.00
Bhk                     0.00
dtype: float64

In [53]:
df1=df.copy()

In [54]:
df1.shape

(16102, 15)

In [55]:
df.dropna(axis=0,inplace=True)

In [56]:
df.shape

(13947, 15)

In [58]:
round(100*(df.isnull().sum()/len(df.index)),2)

type                   0.0
latitude               0.0
longitude              0.0
power backup           0.0
lift                   0.0
furninture status      0.0
bathrooms              0.0
status of building     0.0
location               0.0
price(L)               0.0
rate persqft           0.0
area insqft            0.0
construction status    0.0
property type          0.0
Bhk                    0.0
dtype: float64

In [59]:
writer = pd.ExcelWriter('final_cleandata.xlsx',engine ='xlsxwriter')
df.to_excel(writer, 'Sheet1')
writer.save()

In [60]:
df=pd.read_excel('final_cleandata.xlsx',index_col=0)
df.shape

(13947, 15)